$color-white: #fff;
$color-dark: #000;
$color-black: #303133;
$color-yellow: #FFCC4D;
$color-orange: #FF731D;
$color-dark-orange: #FFC85E;
$color-orange-1: #FAAD14;
$color-orange-2: #FF9900;
$color-orange-3: #FFDE9C;
$color-red-1: #F56C6C;
$color-red-2: #E4282A;
$color-red-3: #FFB4B4;
$color-green-1: #67C23A;
$color-green-2: #05CA19;
$color-green-3: #05CA19;
$color-blue-primary: #002337;
$color-blue-1: #1890FF;
$color-blue-2: #006CCF;
$color-blue-3: #ABD7FF;
$color-text-4: #828B92;
$color-text-5: #CDD1D5;
$color-btn-hover: #FF9B25;
$color-btn-active: #28A8D7;
$color-btn-disable: #28A8D7;
$color-gray: #999;

$color-table-even: #F4F6FF;
$color-table-even-mobile: #dfe0e7;
$color-text-common: #2E3192;

$border-focus: #FED6D7;

//fonts
$font-root: "Helvetica Neue",Helvetica,"PingFang SC","Hiragino Sans GB","Microsoft YaHei","微软雅黑",Arial,sans-serif;
$font-mont: "Helvetica Neue",Helvetica,"PingFang SC","Hiragino Sans GB","Microsoft YaHei","微软雅黑",Arial,sans-serif;

//btn
$btn-primary: #117DBE;

//background
$background-primary: #B6B6B6;
$background-color: #EFF5FE;

// border
$border-1: #F2F6FC;
$border-2: #EBEEF5;
$border-3: #E4E7ED;
$border-4: #DCDFE6;

// hover
$color-hover: #5cb6ff;
