.list-receipt-page {

  .card-item {
    margin-top: 10px;
  }
  .time {
    color: #999;
  }

  .bottom {
    //margin-top: 10px;
    display: flex;
    justify-content: space-between;
    align-items: end;
    flex-wrap: wrap;
  }

  .button {
    padding: 0;
    float: right;
  }

  .list-image {
    flex-wrap: wrap;
    max-width: 200px;
  }
  .image {
    width: 100%;
    display: block;
    width: 80px;
    height: 80px;
    border-radius: 5px;
    //margin-top: 15px;
  }

  .clearfix:before,
  .clearfix:after {
    display: table;
    content: "";
  }

  .clearfix:after {
    clear: both
  }
  .money {
    cursor: pointer;
    margin-top: 10px;
    color: $btn-primary;
  }
  .money:hover {
    color: $color-hover;
  }

  .receipt-detail-dialog {
    .text-green {
      color: $color-green-1;
    }
    .text-red {
      color: $color-red-1;
    }
    .el-dialog {
      width: 75%;
      border-radius: 10px;
    }
    .el-dialog__title {
      font-size: 16px;
      font-weight: 700;
      color: $color-black;
    }
    .receipt-detail-card {
      margin-top: 30px;
    }
  }

  .cb-group-hide-label {
    .cb-hide-label {
      .el-checkbox__label {
        display: none;
      }
    }
    .card-item {
      width: 100%;
    }
  }
}
