.main-login {
  width: 650px;
  margin: 30px auto;
  margin-bottom: 100px;
  @media only screen and (max-width: 500px) {
    width: 100%;
    padding: 0 20px !important;
  }
  @media only screen and (min-width: 500px) and (max-width: 540px) {
    width: 100%;
    width: 450px;
    padding: 0 20px !important;
  }

  .otp-block-register {
    display: grid;
    text-align: center;
    grid-template-columns: repeat(6, minmax(0, 100%));
    column-gap: 20px;
    justify-content: center;
    justify-items: center;
    @media only screen and (max-width: 400px) {
      column-gap: 5px;
    }
  }

  h3 {
    font-family: $font-root;
    font-style: normal;
    font-weight: 600;
    font-size: 1.5rem !important;
    text-transform: uppercase;
    margin-bottom: 1.5rem;
  }

  .sub_title {
    font-family: $font-mont;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    padding-bottom: 24px;
  }

  .el-input__suffix {
    display: flex;
    align-items: center;
    right: 10px;
  }

  .icon-show-pass {
    display: flex;
  }

  .email-login {
    .birthday {
      width: 100%;
    }
  }

  .password-title-sub {
    margin: 1.5rem 0;
    font-size: 0.875rem;
  }

  .agree-block {
    display: flex;
    align-items: baseline;
    column-gap: 10px;

    &-label {
      font-size: 1rem;
      line-height: 22px;
    }

  }

  .radio-check {
    margin-bottom: 5px;
  }
  .checkbox-item {
    display: grid;
    gap: 5px;
    grid-template-columns: 12% 30% 55%;
    margin-bottom: 20px;
  }
  .checkbox-item-debt {
    display: grid;
    gap: 5px;
    grid-template-columns: 8% 69% 20%;
  }
  .qr-share {
    margin-top: 20px;
  }
}

.forgot-pass {
  margin: 0.5rem 0 1.75rem 0;

  .login-page__forgot-password {
    width: fit-content;
    margin-left: auto;
  }
  .add-member {
    margin-bottom: 150px;
  }
}

.no_account {
  margin-bottom: 156px;

  .here {
    cursor: pointer;
    color: $color-orange;
    text-decoration: underline
  }
}

.common-button {
  margin-bottom: 20px;

  .el-button {
    width: 100%;
  }

}
